.transactionHistory {
    width: 100%;
    margin-top: 30px;
    border-spacing: 1px;
}

.transactionCaption {
        background-color: #00bcd5;
        height: 40px;
}

.transactionItem {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #ecf1f4;
}

.transactionLine{
    height: 40px;
    text-align: center;
}

@media(min-width:769px) {
    .transactionHistory {
        width: 400px;
    }
}